# CMake files

CMakeLists.txt
cmake-build-debug/
cmake/

# default executable

a.out

# clion's stuff

.idea/

# objects file

build/
*.o

# lib files

*.a

# random files

tags
test.obj

# valgrind files

*.dSYM/

# executable

scop
